#content {
  margin: 0 auto;
  padding: .6em;
  max-width: 60em;
  font-family: sans-serif;
  color: #444;
  background-color: #fff;
}

#headline {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

#subtitle {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-bottom: 4em;
}

div#right-side-nav {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 10%;
  justify-self: end;
}

a, a:visited {
  color: #c02f1d;
}

body {
  background-color: #444;
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  color: #fff;
}

nav {
  margin: 0 auto;
  padding: .6em;
  max-width: 60em;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-column-gap: 10%;
  background-color: #fff;
}

.emphasize {
  font-style: italic;
}

.no-left-padding {
  padding-left: 0;
}

.no-list-style {
  list-style: none;
}

.no-link-decoration {
  text-decoration: none;
  color: #444;
}

.no-link-decoration:visited {
  color: #444;
}

.post {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(1, 1fr);
}

.post-date {
  justify-self: end;
  align-self: center;
}

@media only screen and (max-width: 599px) {
	body {
    background-color: #fff;
  }
}
