#headline {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

#subtitle {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-bottom: 3em;
}

#footer {
  background-color: #222;
  color: #999;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-column-gap: 10%;
  grid-template-areas:
    "links links links"
    "author author author";
}

span#copyright {
  font-size: .6em;
  grid-area: author;
}

span#copyright-sign {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

div.content, footer.content {
  margin: 0 auto;
  padding: .6em;
  max-width: 60em;
  font-family: sans-serif;
  color: #444;
  background-color: #fff;
}

span.emphasize {
  font-style: italic;
}

ul.no-left-padding {
  padding-left: 0;
}

li.no-list-style {
  list-style: none;
}

a.no-link-decoration {
  text-decoration: none;
  color: #444;
}

a.no-link-decoration:visited {
  color: #444;
}

footer>div>a, footer>div>a:visited {
  color: #999;
  font-size: .6em;
}

div.post {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(1, 1fr);
}

div.post-date {
  justify-self: end;
  align-self: center;
}

a, a:visited {
  color: #c02f1d;
  word-wrap: break-word;
  word-break: break-word;
}

body {
  background-color: #333;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23555' d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/svg%3E");
}

hr {
  color: #fff;
}

img[src*='#center'] { 
  display: block;
  margin: auto;
  max-width: 80%;
}

@media (max-width: 899px) {
  img[src*='#center'] {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}

pre {
  white-space: pre-wrap;
  overflow-x: scroll;
}

@media only screen and (max-width: 599px) {
	body {
    background-color: #fff;
  }
}
