<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    {% include navigation.html %}
    <div class="content">
      {% include headline.html %}
      {{ content }}
    </div>
    <div class="content" id="footer">
      <span id="copyright">
        <span id="copyright-sign">&copy;</span> 2019 <span title="no js, no cookies :)">Fabian Bißmann</span>
      <span>
    </div>
  </body>
</html>
