<!DOCTYPE html>
<html>
  {% seo %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="0NKpEJUjiv8n7deHdACyEuk0UvIBzkcvoukWl7E3LvU" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="alternate" type="application/atom+xml" title="Fabian Bißmann's IT-blog" href="/feed.xml">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include navigation.html %}
    <div class="content">
      {% include headline.html %}
      {{ content }}
    </div>
    <footer class="content" id="footer">
        {% include footer.html %}
        <span id="copyright">
          <span id="copyright-sign">&copy;</span> 2020 <span title="no js, no cookies :)">Fabian Bißmann</span>
        <span>
      </div>
    </footer>
  </body>
</html>
